/* Adição de fontes Be Vietnam Pro e League Spartan */

@font-face {
    font-family: "LeagueSpartan-Bold";
    src: url("LeagueSpartan-Bold.ttf");
}

@font-face {
    font-family: "BeVietnamPro-Regular";
    src: url("BeVietnamPro-Regular.ttf");
}

/* Estilização do cabeçalho */

header {
    border: 2px solid white;
    background-color: #2c2c2c;
    text-align: center;
    padding: 16px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

/* Estilização da página principal */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #2C64DC;
}

/* Estilização do título h1 do cabeçalho*/

header h1 {
    font-family: "LeagueSpartan-Bold", sans-serif;
    color: white;
    -webkit-text-stroke: black 1px;
    font-size: 42px;
    margin: 0 0 10px 0;
}

/* Estilização do parágrafo de frase de efeito do cabeçalho*/

header p {
    font-family: "BeVietnamPro-Regular", sans-serif;
    font-size: 22px;
    color: white;
    -webkit-text-stroke: black 0.6px;
    margin: 0;
}

/* Estilização da parte principal das páginas*/

main {
    background-color: #2C64DC;
    padding: 30px 0;
    margin: 0;
}

/* Estilização do formulário em index.html*/

form {
    width: 435px;
    height: 490px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    background-color: #6a8edc;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização do título principal do formulário*/

form h2 {
    font-family: "BeVietnamPro-Regular", sans-serif;
    color: white;
    -webkit-text-stroke: black 0.3px;
    font-size: 34px;
    margin: 0 0 35px 0;
}

/* Estilização do texto instrucional do formulário*/

form p {
    font-family: "BeVietnamPro-Regular", sans-serif;
    color: white;
    -webkit-text-stroke: black 0.6px;
    font-size: 21px;
    margin: 0 0 25px 0;
}

/* Estilização do texto "CEP" e "Cidade" do formulário*/

form label {
    font-family: "BeVietnamPro-Regular", sans-serif;
    color: white;
    -webkit-text-stroke: black 0.6px;
    font-size: 22px;
    margin-bottom: 15px;
}

/* Estilização das caixas de texto e texto de exemplo do formulário*/

form input {
    width: 230px;
    height: 28px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "BeVietnamPro-Regular", sans-serif;
    font-size: 17px;
    padding: 5px;
}

/* Estilização do botão do formulário*/

button {
    font-family: "BeVietnamPro-Regular", sans-serif;
    font-size: 18px;
    background-color: #2C64DC;
    color: white;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
}

/* Estilização do rodapé das páginas*/

footer {
    border: 2px solid white;
    background-color: #2c2c2c;
    color: #2C64DC;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    margin-top: auto;
    
}

/* Estilização do texto do rodapé*/

footer time {
    font-family: "BeVietnamPro-Regular", sans-serif;
    color: white;
    -webkit-text-stroke: black 0.6px;
}

/* Estilização da mensagem de erro ao inserir CEP incorreto*/

#mensagem {
    color: rgb(219, 25, 25)
}

/* Estilização do título da página resultado.htmk*/

#titleResultado {
    font-family: "LeagueSpartan-Bold", sans-serif;
    text-align: center;
    padding: bottom 20px; ;
    color: white;
    -webkit-text-stroke: black 1px;
    font-size: 42px;
    margin: 0 0 10px 0;

}

/* Estilização dos conteúdos puxados da API na página resultado.html*/

#resultado {  
    font-family: "BeVietnamPro-Regular", sans-serif;
    color: white;
    margin-bottom: 5px;
    width: 435px;
    height: 490px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    background-color: #6a8edc;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização do diagnóstico de diversos erros */

#resultado.erroInser, 
#resultado.erroDados, 
#resultado.erroCEP {
    color: rgb(219, 25, 25);
    text-align: center;
    font-size: 18px;
}

/* Estilização do link atinente à localização consultada no Google Maps*/

#linkMaps {
    display: block;
    width: 240px;
    margin: 20px auto 0 auto;
    text-align: center;
    font-family: "BeVietnamPro-Regular", sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: #2C64DC;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
}

/* Estilização do texto do botão de nova consulta*/

#novaCons {
    text-align: center;
    font-family: "BeVietnamPro-Regular", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white
}

/* Estilização do container do botão de nova consulta*/

#containerNova {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    background-color: #2C64DC;
    color: white;
    border: 1px solid black;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
}

/* Ajustes para responsiviade em dispositivos móveis*/

@media (max-width: 600px) {

    header {
        padding: 40px 15px;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    main {
        padding: 30px 15px;
    }

    form {
        width: 85%;
        height: auto;
        min-height: 400px;
        padding: 25px 15px;
    }

    input {
        width: 100%;
        max-width: 230px;
    }

    button {
        width: 60%;
    }

    #titleresultado {
        font-size: 2rem;
    }

    #resultado {
        width: 85%;
        height: auto;
        min-height: 400px;
        padding: 20px 15px;
    }

    #linkMaps,
    #containerNova {
        width: 120px;
    }

    #resultado.erroInser,
    #resultado.erroDados,
    #resultado.erroCEP {
        font-size: 18px;
    }

    p {
        font-size: 0.95rem;
    }

    footer {
        padding: 12px;
    }
}